.loadingss {background-color:rgb(248, 248, 248);}
.loadingClass {position: absolute;background-color: rgba(255, 255, 255, 0.84);z-index: 99999;
}
#login-table tr td {border:none;}
.hasError {border:1px solid #dd4b39 !important;}
.user_profile_img {width: 30%;
margin: 0 auto 10px;
display: block;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;}

/* Pagination*/ 
@charset "utf-8";
.paginations { padding:20px 0;position:relative;font-size:11px;line-height:13px;margin: -1% 15% -1% 0%;width:85%; }
.paginations span, .paginations a { display:block;float:left;margin: 2px 2px 2px 0;padding:6px 9px 5px 9px;text-decoration:none;width:auto;color:#02A0AB !important;background-color: #555555;}
.paginations a:hover{ color:#000000 !important;/*background-color: #0292D0;*/ }
.paginations .current{ padding:6px 9px 5px 9px; /*background-color:#0292D0;*/ color:#000000 !important; }
/* /Pagination*/

.readonly_ {background-color:#ccc !important;}
.poin:hover{ cursor:pointer; background-color: rgba(51, 51, 51, 0.07); }

